node_modules/
dist/
build/
.next/
out/
coverage/
artifacts/
*.tsbuildinfo

# env — never commit real secrets
.env
.env.*
!.env.example

# storage / uploads
uploads/
tmp/
.minio-data/
.pgdata/
.meili-data/

# editors / os
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/ios/Pods/
apps/mobile/android/.gradle/
apps/mobile/android/local.properties
apps/mobile/**/GeneratedPluginRegistrant.*
